*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: #FE8484;
  margin:auto;

}

.bg-color {
  background-color: #FE8484;
}

i {
  color: #7D7D7D;
}

.current {
  border: 2px solid greenyellow;
}

.card-font {

  font-family: 'Fira Sans', sans-serif;
}

.nav-font {

  font-family: 'Reem Kufi', sans-serif;
}

.primary-font {
  font-family: 'Poppins', sans-serif;
}

.secondary-font {
  font-family: 'Ubuntu', sans-serif;
  
}


