body {
margin: 0px;  
text-align: center;
background-color: white;
font-size: medium;
}

button {
  border-radius: 5px;
  padding: 5px;
  font-size: large;
}

input {
  font-size:medium;
  margin:5px;
}

