.companycard{
  padding:10px;
  text-align: left;
  display: flex;
  border: 1px solid black;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: rgb(99, 106, 110);
  color: white;
  box-shadow: 2px 5px grey;

}

.companycard:hover {
  background-color: #2E86C1;

}

.companyLogo {
  width: 100px;
}

