.companycard{
  border: 1px solid black;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(99, 106, 110);
  color: white;
  padding:5px;
}

.companycard:hover {
  background-color: #2E86C1;

}

.companyLogo {
  width: 200px;
}

