.jobcard {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #2E86C1;
  color: white;
  padding:20px;

}

.jobcard a:hover {
  color: pink;
}
