.job-card{
  display: flex;
  width: 250px;
  height: 350px;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  margin-top: 5px;
  border: 1px solid black;
  color: black;
  /* flex-wrap: wrap; */
  box-shadow: 2px 2px grey;
  flex-direction: column;
}



