.Hidden {
  display: none;
}

body {
  margin-bottom: 10px;
}

.registerform {
  border: 1px solid black;
  width: 25%;
  padding: 10px;
  margin: auto;
  background-color: #2E86C1;
  color: white;

}







.ccLogoBigger{
  width: 25%;
}

