
nav {
  top: 0px;
  text-align: right;
  /* border: 1px solid black; */
  background-color: #2E86C1;
  padding: 8px;
  width: 100vw;
  color: white;

}
li {
  font-size: larger;
  display: inline;
  margin: 15px;
}
li .logo {
  text-align: left;
}

a {
  text-decoration: none;
  color: black;

}

a.active {
  color: white;
}

a:hover {
  color: pink;
}

.cclogo{
  width: 75px;
  left: 10px;
  top: 0;
  display: inline-block;
  position: absolute;
  /* padding: 5px; */
}
