.searchBar{
  padding: 10px;
  margin-right: 0px;
}

.searchButton{
  margin-left: 0px;
  padding: 10px;
}

.searchButton:hover{
  background-color: tomato;
  color: white;
}

.searchButton:active {
  color: white;
  background-color: blue;;
}

.searchContainer{
  margin: 0px;
}